Debug
schemes
project
kolko_krzyzyk.opensdf
kolko_krzyzyk.sdf
kolko_krzyzyk.sln
kolko_krzyzyk.vcxproj
kolko_krzyzyk.vcxproj.filters
kolko_krzyzyk.vcxproj.user
kolko_krzyzyk_graph.v12.suo
src/b.bat
src/c.bat
src/kolko_krzyzyk.ilk
src/kolko_krzyzyk.pdb
*.txt
*.sln
src/*.suo
src/*.txt