kolko_krzyzyk.opensdf
kolko_krzyzyk.sdf
kolko_krzyzyk.sln
kolko_krzyzyk.v12.suo
kolko_krzyzyk.vcxproj
kolko_krzyzyk.vcxproj.filters
kolko_krzyzyk.vcxproj.user
schemes
Debug
zrodlo/b.bat
zrodlo/c.bat
zrodlo/kolko_krzyzyk.exe
zrodlo/kolko_krzyzyk.ilk
zrodlo/kolko_krzyzyk.pdb
*.txt
zrodlo/*.txt